body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .game-restart{
    color:red;
  }

  .Comment{
    font-size:20;
    color:#000;
    width:400px;
    height:100px;
    position:relative;
  }

  .UserInfo{
    float:left;
    width:50px;
    height:80px;
    position:relative;
  }

  .UserInfo img{
    width:36px;
    height:36px;
    border-radius:100%;
    position:absolute;
    left:50%;
    top:0;
    transform: translateX(-50%);
  }

  .UserInfo-name{
    height:40px;
    font-weight:bold;
    text-align: center;
    position:absolute;
    left:0px;
    bottom:0px;
  }
  
  .Comment-text{
    float:left;
    width:350px;
    line-height:28px;
    box-sizing: border-box;
    padding-left:10px;
    padding-right:10px;
  }
  .Comment-date{
    position:absolute;
    right:0;
    bottom:0;
    color:#999;
  }
  .warning{
    font-size:30px;
    color:red;
    font-weight:bold;
  }
  .FancyBorder-blue{
    color:blue;
  }
  .ProductHeader{
    width:300px;
    display:flex;
  }
  .HeaderOne{
    width:150px;
  }
  .HeaderTwo{
    width:150px;
  }